
Trade Gothic Next LT Pro Bold

font-family: trade-gothic-next, sans-serif;

font-weight: 700;

font-style: normal;


Trade Gothic Next LT Pro Bold Italic

font-family: trade-gothic-next, sans-serif;

font-weight: 700;

font-style: italic;


Trade Gothic Next LT Pro Italic

font-family: trade-gothic-next, sans-serif;

font-weight: 400;

font-style: italic;


Trade Gothic Next LT Pro Regular

font-family: trade-gothic-next, sans-serif;

font-weight: 400;

font-style: normal;


Trade Gothic Next LT Pro Bold Compressed

font-family: trade-gothic-next-compressed, sans-serif;

font-weight: 700;

font-style: normal;


Trade Gothic Next LT Pro Compressed

font-family: trade-gothic-next-compressed, sans-serif;

font-weight: 400;

font-style: normal;


Trade Gothic Next LT Pro Bold Condensed

font-family: trade-gothic-next-condensed, sans-serif;

font-weight: 700;

font-style: normal;


Trade Gothic Next LT Pro Bold Condensed Italic

font-family: trade-gothic-next-condensed, sans-serif;

font-weight: 700;

font-style: italic;


Trade Gothic Next LT Pro Condensed

font-family: trade-gothic-next-condensed, sans-serif;

font-weight: 400;

font-style: normal;


Trade Gothic Next LT Pro Condensed Italic

font-family: trade-gothic-next-condensed, sans-serif;

font-weight: 400;

font-style: italic;


Trade Gothic Next SR Pro Bold

font-family: trade-gothic-next-soft-round, sans-serif;

font-weight: 700;

font-style: normal;


Trade Gothic Next SR Pro Regular

font-family: trade-gothic-next-soft-round, sans-serif;

font-weight: 400;

font-style: normal;


Trade Gothic Next SR Pro Bold Compressed

font-family: trade-gothic-next-soft-round, sans-serif;

font-weight: 700;

font-style: normal;


Trade Gothic Next SR Pro Compressed

font-family: trade-gothic-next-soft-round, sans-serif;

font-weight: 400;

font-style: normal;


Trade Gothic Next SR Pro Bold Condensed

font-family: trade-gothic-next-soft-round, sans-serif;

font-weight: 700;

font-style: normal;


Trade Gothic Next SR Pro Condensed

font-family: trade-gothic-next-soft-round, sans-serif;

font-weight: 400;

font-style: normal;